.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bg-color
  &-1
    background-color: #FDF0AC !important
  &-2
    background-color: #CBF4EB !important
  &-3
    background-color: #F3F0F9 !important
  &-4
    background-color: #AD9721 !important
  &-5
    background-color: #F1FCF9 !important
  &-6
    background-color: #FAE5EA !important
  &-7
    background-color: #FAE5EA !important

.titulo-con-imagen
  display: flex
  align-items: center
  position: relative

.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center

.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

.tarjeta.pestana-vertical
  background-color: #000

.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #f3f0f9
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tabs-a__tab
  background-color: #FDF0AC

.bg-fondo
  &-slider
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important
    background-position: bottom


.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF9800 !important
.slyder-a__bullets__item--active 
  background-color: #589F8F !important
  border-color: #589F8F
.slyder-a__bullets__item
  background-color: #589F8F
  border: 1px solid #589F8F
.bloque-texto-b.color-secundario:before
  background-color: #CBE7E8
.acordion__accion__btn--a
  background-color: #FED401 !important
.acordion__activo
  background-color: #E6DCFB !important
.acordion_titulo
  color: #fff !important
.tarjeta-numerada.color-primario
  border-color: #F3F0EA
  background-color: #F3F0EA
.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  background-color: #FD9826
.tarjeta-numerada__numero
  top: 35%



.tarjeta.acordeonA
  background-color: #625A70

.acordion__accion__btn--a
  background-color: #FF9800 !important

.acordion__activo
  background-color: #FDF0AC !important

.tabla-a.color-acento-botones thead
  border-color: $color-acento-contenido
  background-color: $color-acento-contenido !important
.tabla-a th, table td 
  text-align: start
.banner-principal__row .banner-principal__img
  width: 500px !important
.separador__tabla
  background-color: #F6F6F6