.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 80%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 90%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 5%    

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bg-color
  &-1
    background-color: #FDF0AC !important
  &-2
    background-color: #CBF4EB !important
  &-3
    background-color: #F3F0F9 !important
  &-4
    background-color: #AD9721 !important
  &-5
    background-color: #F1FCF9 !important
  &-6
    background-color: #FAE5EA !important
  &-7
    background-color: #625A70 !important
  &-8
    background-color: #FCECEE !important  
  &-9
    background-image: url(../assets/curso/tema1/img2.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important  
  &-10
    background-image: url(../assets/curso/tema1/img1.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain



.titulo-con-imagen
  display: flex
  align-items: center
  position: relative

.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center

.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

.tarjeta.pestana-vertical
  background-color: #000

.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #f3f0f9
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tabs-a__tab
  background-color: #FDF0AC

.bg-fondo
  &-slider
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important
    background-position: bottom


.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF9800 !important
.slyder-a__bullets__item--active 
  background-color: #589F8F !important
  border-color: #589F8F
.slyder-a__bullets__item
  background-color: #589F8F
  border: 1px solid #589F8F
.bloque-texto-b.color-secundario:before
  background-color: #CBE7E8
.acordion__accion__btn--a
  background-color: #FED401 !important
.acordion__activo
  background-color: #E6DCFB !important
.acordion_titulo
  color: #fff !important
.tarjeta-numerada.color-primario
  border-color: #F3F0EA
  background-color: #F3F0EA
.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  background-color: #FD9826
.tarjeta-numerada__numero
  top: 35%



.tarjeta.acordeonA
  background-color: #625A70

.acordion__accion__btn--a
  background-color: #FF9800 !important

.acordion__activo
  background-color: #FDF0AC !important

.tabla-a.color-acento-botones thead
  border-color: $color-acento-contenido
  background-color: $color-acento-contenido !important
.tabla-a th, table td 
  text-align: start
.separador__tabla
  background-color: #F6F6F6


.titulo-purpura
  display: flex
  align-items: center
  position: relative
  background-color: #C6B7E2 
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center
  margin: 0
  padding-left: 20px



.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important 
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #625a70
    color: #FFF
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.bg-color-purple-light
  background-color: #ECE9F7


.text-accent
  color: #D4AF37 

.br-15
  border-radius: 15px

.lista-ul--separador li
  border-bottom: none 

.bg-color-dark-purple
  background-color: #6A5D7B
  border: 2px solid #4D90FE

.bg-color-purple-light
  background-color: #ECE9F7

.text-gold
  color: #D4AF37

.br-15
  border-radius: 15px
.br-10
  border-radius: 10px

.align-items-stretch
  display: flex
  align-items: stretch


.tarjeta-audio.color-primario
  background-color: white
  
.tabla-a table 
  min-width: 100% !important;
  table-layout: auto; 

.tabla-a 
  overflow-x: visible !important; 

.tabla-a
  table
    tbody
      tr:nth-child(odd)
        background-color: #F6F6F6
      tr:nth-child(even)
        background-color: #FFFFFF 
  
.bg-color-soft-yellow
  background-color: #FFFAD8 

.acordion__accion__btn--a
  background-color: $color-acento-botones

.acordeonA
  position: relative
  background-color: #003F62
  width: 100%
  @media screen and (max-width: 1200px)
    width: 100%
  p
    padding-left: 3.5rem
.acordion__titulo
  h3
    color: white !important
.acordion__activo
  background-color: #CBD8DF
  h3
    color: $color-sistema-texto !important
  p
    padding-left: 4.4rem

.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #E4EAEE
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tarjeta--boton
  background-color: #CBD8DF

.tarjeta--boton:hover
  background-color: #FED5A7



.carousel-bg .fas
  &.fa-chevron-left, &.fa-chevron-right
    display: inline-flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: $color-acento-contenido
    border-radius: 50%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    color: #000
    font-size: 16px

  @media screen and (max-width: $bp-max-md)
    background-color: transparent !important
    box-shadow: none !important
    font-size: 20px !important


.bordes
  border: 1px solid #CBD5E0 !important